PORT=5000
NODE_ENV=development

# Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=luar_jendela_db
DB_PORT=3306

# JWT Auth Secret
JWT_SECRET=your_jwt_secret_key_here

# Midtrans Configuration (Live Production)
MIDTRANS_MERCHANT_ID=your_midtrans_merchant_id
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_IS_PRODUCTION=true

# Client URL
CLIENT_URL=http://localhost:5173
APP_URL=http://localhost:5000
